.newspaper-body__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px black solid;
  padding-bottom: 5px;
}

.header-main {
  display: flex;
  align-items: center;
}


.header-main__title {
padding: 0 0 0 10px;
}

.navigation {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 30px;
}

.navigation__link {
  padding: 10px;
  color: black;
}

.header-main__title {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}

