.newspaper-body__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px black solid;
  padding-bottom: 5px;
}

.header-main {
  display: flex;
  align-items: center;
}

.header-main__title {
padding: 0 0 0 10px;
}

.navigation {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 30px;
}

.navigation__link {
  padding: 10px;
  color: black;
}

.header-main__title {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}

.main-content {
  display: flex;
  justify-content: space-around;

  border: 1px solid black;
}

.main-news-block__title {
  background-image: url('../images/img-story-main.png');

  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding: 40px;
}

.main-news-block {
  width: 630px;
  border: 1px solid black;
}

.main-news-block__title {
  border: 1px solid black;
}

.main-news-block__small {
  border: 1px solid black;
}

.news-block-small__author {
  border: 1px solid black;
}

.central-news-block {
  width: 300px;
  border: 1px solid black;
}

.central-news-block__subtitle {
  border: 1px solid black;
}

.left-news-block {
  width: 240px;
  border: 1px solid black;
}

.left-news-block-info {
  border: 1px solid black;
}

.central-news-block__header {
  border: 1px solid black;
}
